
<p>Hello</p>
<img id="image"/>

<script type="application/javascript">
  console.log('change image src');
  $.get("http://localhost:1337/v1/message/show?id=56bb25d09ce52dd9078627e6", function (res) {
    console.log(res);
    $('#image').attr('src', "data:image/jpeg;base64, " + res.image);
  });

</script>
